.contant{
    margin-top:30px;
    text-align: center;
}

.p-btn{
    height:28px;
    line-height: 24px;
    padding:0 25px;
    margin:10px;
    box-sizing: border-box;
    font-size: 14px;
}
.p-lg-btn{
    height:40px;
    line-height: 38px;
    padding:0 30px;
    margin:10px;
    font-size: 16px;
    box-sizing: border-box;
    margin-top:30px;
}
.p-btn.p-default{
    border:1px solid #f95759;
    background:#f95759;
    color:#fff;
    border-radius: 14px !important;
}
.p-btn.p-default:hover,.p-lg-btn.p-lg-default:hover{
    background:#eb7b76;
    border-color:#eb7b76;
}
.p-btn.p-cancel{
    background: #fff;
    border:2px solid #f95759;
    border-radius: 14px !important;
}
.p-btn.p-cancel:hover,.p-lg-btn.p-lg-cancel:hover{
    border:2px solid #eb7b76;
}
.p-btn.p-disable{
    background:#ccc;
    border:1px solid #ccc;
    color:#fff;
    border-radius: 14px !important;
    
}
.p-btn.p-disable:hover,.p-lg-btn.p-lg-cdisable:hover,.p-lg-btn.p-lg-disable:hover,.p-btn.p-cdisable{
    cursor: no-drop;
}
.p-btn.p-cdisable{
    background:#fff;
    border:2px solid #ccc;
    border-radius: 14px !important;
}
.p-lg-btn.p-lg-default{
    border:1px solid #f95759;
    background:#f95759;
    color:#fff;
    border-radius: 20px !important;
}
.p-lg-btn.p-lg-cancel{
    background: #fff;
    border:2px solid #f95759;
    border-radius: 20px !important;
}
.p-lg-btn.p-lg-disable{
    background:#ccc;
    border:1px solid #ccc;
    color:#fff;
    border-radius: 20px !important;
}
.p-lg-btn.p-lg-cdisable{
    background:#fff;
    border:2px solid #ccc;
    border-radius: 28px !important;
}
.p-default.p-angle,.p-cancel.p-angle,.p-disable.p-angle,.p-cdisable.p-angle,.p-lg-default.p-angle,.p-lg-cancel.p-angle,.p-lg-disable.p-angle,.p-lg-cdisable.p-angle{
    border-radius: 0px !important;
}