<div class="row">
    <div class="col-md-12">
       <div class="marginB">
           <summary1 :title11="title11" :smtitle="smtitle" :cssinclude="cssinclude" :jsinclude="jsinclude"></summary1>
       </div>
        <div class="row">
<!--           PDMI常用颜色-->
            <colors classStyle="bg-pink bg-font-dark" colerTitle="p-pink" colorS="#f95759"></colors>
            <colors classStyle="bg-p-dark bg-font-dark" colerTitle="p-dark" colorS="#333"></colors>
            <colors classStyle="bg-p-gray bg-font-dark" colerTitle="p-gray" colorS="#757575"></colors>
            <colors classStyle="bg-p-sgray bg-font-dark" colerTitle="p-sgray" colorS="#999"></colors>
            <colors classStyle="bg-p-cgray bg-font-dark" colerTitle="p-cgray" colorS="#dcdcdc"></colors>
            <colors classStyle="bg-p-dpink bg-font-dark" colerTitle="p-dpink" colorS="#ff4362"></colors>
            <colors classStyle="bg-p-dyellow bg-font-dark" colerTitle="p-dyellow" colorS="#ffa746"></colors>
            <colors classStyle="bg-p-dblue bg-font-dark" colerTitle="p-dblue" colorS="#02b792"></colors>
            <colors classStyle="bg-p-dgreen bg-font-dark" colerTitle="p-dgreen" colorS="#0087cc"></colors>
            <colors classStyle="bg-p-cgreen bg-font-dark" colerTitle="p-cgreen" colorS="#6f8197"></colors>

           
            <colors classStyle="bg-white bg-font-white" colerTitle="white" colorS="#fff"></colors>
            <colors classStyle="bg-default bg-font-default" colerTitle="default" colorS="#e1e5ec"></colors>
            <colors classStyle="bg-dark bg-font-dark" colerTitle="dark" colorS="#2f353b"></colors>
            <colors classStyle="bg-blue bg-font-blue" colerTitle="blue" colorS="#3598DC"></colors>
            <colors classStyle="bg-blue-madison bg-font-blue-madison" colerTitle="blue-madison" colorS="#578EBE"></colors>
            <colors classStyle="bg-blue-chambray bg-font-blue-chambray" colerTitle="blue-chambray" colorS="#2C3E50"></colors>
            <colors classStyle="bg-blue-ebonyclay bg-font-blue-ebonyclay" colerTitle="blue-ebonyclay" colorS="#22313F"></colors>
            <colors classStyle="bg-blue-hoki bg-font-blue-hoki" colerTitle="blue-hoki" colorS="#67809F"></colors>
            <colors classStyle="bg-blue-steel bg-font-blue-steel" colerTitle="blue-steel" colorS="#4B77BE"></colors>
            <colors classStyle="bg-blue-soft bg-font-blue-soft" colerTitle=" blue-soft " colorS=" #4c87b9"></colors>
            <colors classStyle="bg-blue-dark bg-font-blue-dark" colerTitle=" blue-dark " colorS=" #5e738b "></colors>
            <colors classStyle="bg-blue-sharp bg-font-blue-sharp" colerTitle=" blue-sharp " colorS=" #5C9BD1 "></colors>
            
<!--            第三行-->
            
            <colors classStyle="bg-blue-oleo bg-font-blue-oleo" colerTitle=" blue-oleo " colorS=" #94A0B2 "></colors>
            <colors classStyle="bg-green bg-font-green" colerTitle=" green " colorS=" #32c5d2 "></colors>
            <colors classStyle="bg-green-meadow bg-font-green-meadow" colerTitle=" green-meadow " colorS=" #1BBC9B "></colors>
            <colors classStyle="bg-green-seagreen bg-font-green-seagreen" colerTitle=" green-seagreen " colorS=" #1BA39C "></colors>
            <colors classStyle="bg-green-turquoise bg-font-green-turquoise" colerTitle=" green-turquoise " colorS="#36D7B7"></colors>
            <colors classStyle="bg-green-haze bg-font-green-haze" colerTitle=" green-haze " colorS=" #44b6ae "></colors>
            
<!--            第四行-->
            <colors classStyle="bg-green-jungle bg-font-green-jungle" colerTitle=" green-jungle " colorS=" #26C281 "></colors>
            <colors classStyle="bg-green-soft bg-font-green-soft" colerTitle=" green-soft " colorS=" #3faba4 "></colors>
            <colors classStyle="bg-green-dark bg-font-green-dark" colerTitle=" green-dark " colorS=" #4DB3A2 "></colors>
            <colors classStyle="bg-green-sharp bg-font-green-sharp" colerTitle=" green-sharp" colorS=" #2ab4c0 "></colors>
            <colors classStyle="bg-green-steel bg-font-green-steel" colerTitle=" green-steel " colorS="#29b4b6"></colors>
            <colors classStyle="bg-grey bg-font-grey" colerTitle=" grey " colorS=" #E5E5E5 "></colors>
            

            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_grey-salt">
                    <div class="color-view bg-grey-salt bg-font-grey-salt bold uppercase"> #bfcad1 </div>
                    <div class="color-info bg-white c-font-14 sbold"> grey-salt </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_grey-mint">
                    <div class="color-view bg-grey-mint bg-font-grey-mint bold uppercase"> #525e64 </div>
                    <div class="color-info bg-white c-font-14 sbold"> grey-mint </div>
                </div>
                
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_red">
                    <div class="color-view bg-red bg-font-red bold uppercase"> #e7505a </div>
                    <div class="color-info bg-white c-font-14 sbold"> red </div>
                </div>
                
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_red-pink">
                    <div class="color-view bg-red-pink bg-font-red-pink bold uppercase"> #E08283 </div>
                    <div class="color-info bg-white c-font-14 sbold"> red-pink </div>
                </div>
                
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_red-sunglo">
                    <div class="color-view bg-red-sunglo bg-font-red-sunglo bold uppercase"> #E26A6A </div>
                    <div class="color-info bg-white c-font-14 sbold"> red-sunglo </div>
                </div>
                
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_red-intense">
                    <div class="color-view bg-red-intense bg-font-red-intense bold uppercase"> #e35b5a </div>
                    <div class="color-info bg-white c-font-14 sbold"> red-intense </div>
                </div>
            </div>
            
            
            
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_red-thunderbird">
                    <div class="color-view bg-red-thunderbird bg-font-red-thunderbird bold uppercase"> #D91E18 </div>
                    <div class="color-info bg-white c-font-14 sbold"> red-thunderbird </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_red-flamingo">
                    <div class="color-view bg-red-flamingo bg-font-red-flamingo bold uppercase"> #EF4836 </div>
                    <div class="color-info bg-white c-font-14 sbold"> red-flamingo </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_red-soft">
                    <div class="color-view bg-red-soft bg-font-red-soft bold uppercase"> #d05454 </div>
                    <div class="color-info bg-white c-font-14 sbold"> red-soft </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_red-haze">
                    <div class="color-view bg-red-haze bg-font-red-haze bold uppercase"> #f36a5a </div>
                    <div class="color-info bg-white c-font-14 sbold"> red-haze </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_red-mint">
                    <div class="color-view bg-red-mint bg-font-red-mint bold uppercase"> #e43a45 </div>
                    <div class="color-info bg-white c-font-14 sbold"> red-mint </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_yellow">
                    <div class="color-view bg-yellow bg-font-yellow bold uppercase"> #c49f47 </div>
                    <div class="color-info bg-white c-font-14 sbold"> yellow </div>
                </div>
            </div>
            
            
            
            
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_yellow-gold">
                    <div class="color-view bg-yellow-gold bg-font-yellow-gold bold uppercase"> #E87E04 </div>
                    <div class="color-info bg-white c-font-14 sbold"> yellow-gold </div>
                </div>
                
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_yellow-casablanca">
                    <div class="color-view bg-yellow-casablanca bg-font-yellow-casablanca bold uppercase"> #f2784b </div>
                    <div class="color-info bg-white c-font-14 sbold"> yellow-casablanca </div>
                </div>
                
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_yellow-crusta">
                    <div class="color-view bg-yellow-crusta bg-font-yellow-crusta bold uppercase"> #f3c200 </div>
                    <div class="color-info bg-white c-font-14 sbold"> yellow-crusta </div>
                </div>
                
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_yellow-lemon">
                    <div class="color-view bg-yellow-lemon bg-font-yellow-lemon bold uppercase"> #F7CA18 </div>
                    <div class="color-info bg-white c-font-14 sbold"> yellow-lemon </div>
                </div>
                
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_yellow-saffron">
                    <div class="color-view bg-yellow-saffron bg-font-yellow-saffron bold uppercase"> #F4D03F </div>
                    <div class="color-info bg-white c-font-14 sbold"> yellow-saffron </div>
                </div>
                
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_yellow-soft">
                    <div class="color-view bg-yellow-soft bg-font-yellow-soft bold uppercase"> #c8d046 </div>
                    <div class="color-info bg-white c-font-14 sbold"> yellow-soft </div>
                </div>
            </div>
            
            
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_yellow-haze">
                    <div class="color-view bg-yellow-haze bg-font-yellow-haze bold uppercase"> #c5bf66 </div>
                    <div class="color-info bg-white c-font-14 sbold"> yellow-haze </div>
                </div>
                
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_yellow-mint">
                    <div class="color-view bg-yellow-mint bg-font-yellow-mint bold uppercase"> #c5b96b </div>
                    <div class="color-info bg-white c-font-14 sbold"> yellow-mint </div>
                </div>
                
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_purple">
                    <div class="color-view bg-purple bg-font-purple bold uppercase"> #8E44AD </div>
                    <div class="color-info bg-white c-font-14 sbold"> purple </div>
                </div>
                
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_purple-plum">
                    <div class="color-view bg-purple-plum bg-font-purple-plum bold uppercase"> #8775a7 </div>
                    <div class="color-info bg-white c-font-14 sbold"> purple-plum </div>
                </div>
                
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_purple-medium">
                    <div class="color-view bg-purple-medium bg-font-purple-medium bold uppercase"> #BF55EC </div>
                    <div class="color-info bg-white c-font-14 sbold"> purple-medium </div>
                </div>
                
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_purple-studio">
                    <div class="color-view bg-purple-studio bg-font-purple-studio bold uppercase"> #8E44AD </div>
                    <div class="color-info bg-white c-font-14 sbold"> purple-studio </div>
                </div>
            </div>
            
            
            
            
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_purple-wisteria">
                    <div class="color-view bg-purple-wisteria bg-font-purple-wisteria bold uppercase"> #9B59B6 </div>
                    <div class="color-info bg-white c-font-14 sbold"> purple-wisteria </div>
                </div>
                
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_purple-seance">
                    <div class="color-view bg-purple-seance bg-font-purple-seance bold uppercase"> #9A12B3 </div>
                    <div class="color-info bg-white c-font-14 sbold"> purple-seance </div>
                </div>
                
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_purple-intense">
                    <div class="color-view bg-purple-intense bg-font-purple-intense bold uppercase"> #8775a7 </div>
                    <div class="color-info bg-white c-font-14 sbold"> purple-intense </div>
                </div>
                
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_purple-sharp">
                    <div class="color-view bg-purple-sharp bg-font-purple-sharp bold uppercase"> #796799 </div>
                    <div class="color-info bg-white c-font-14 sbold"> purple-sharp </div>
                </div>
                
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">
                <div class="color-demo tooltips" data-original-title="Click to view demos for this color" data-toggle="modal" data-target="#demo_modal_purple-soft">
                    <div class="color-view bg-purple-soft bg-font-purple-soft bold uppercase"> #8877a9 </div>
                    <div class="color-info bg-white c-font-14 sbold"> purple-soft </div>
                </div>
            </div>
            
            
            
            
            
            
            
        </div>
    </div>
</div>