<div>
	<summary1 :title11="title11" :smtitle="smtitle" :cssinclude="cssinclude" :jsinclude="jsinclude"></summary1>
	<div class="tab-content">
        <div class="tab-pane active" id="tab_0">
            <div class="row p-top p-datatime">
                <div class="col-md-4 data-default">
                    <data1> </data1>
                </div>
                <div class="col-md-4 data-default">
                    <data2></data2>
                </div>
                <div class="col-md-4 data-default">
                    <data3> </data3>
                </div>
            </div> 
            <input-model labhtml="HTML" labcss="CSS" class="p-top">
                <textarea class="activeText" readonly slot="innhtml">{{html}}</textarea>
                <textarea slot="innercss">
            /*data1开始*/
            .p-data .demonstration{
                padding-right:22px;
            }
            .p-data .el-date-editor__editor,.p-data2 .el-date-editor__editor{
                border-color:#dcdcdc;
            }
            .p-data .el-date-editor__editor:hover{
                border-color:#f95759;
                background:#fff8f8;
            }
            .p-data .el-date-editor.is-active>.el-date-editor__editor, .el-date-editor:hover>.el-date-editor__editor, .el-date-editor__editor:focus{
                border-color:#f95759;
                background:#fff8f8;
            }
            .p-data .el-date-editor__trigger.el-icon{
                background:url("../../lib/global/img/data1_07.png") no-repeat center;
            }
            .p-data .el-icon-date:before{
                content: '';
            }
            .p-data .el-date-editor,.p-data2 .el-date-editor{
                width:220px;
            }
            .el-date-table td.today{
                color:#f95759;
            }
            .el-date-table td.current, .el-date-table td.end-date, .el-date-table td.start-date{
                background-color: #f95759 !important;
                color:#fff;
            }
            .el-date-picker__header-label.active, .el-date-picker__header-label:hover{
                color:#f95759;
            }
            .el-picker-panel__icon-btn:hover{
                color:#f95759;
            }
            .el-date-table td.available:hover{
                background-color: #FFC4C4;
            }
            /*data1结束*/
            .p-data2 .demonstration{
                padding-right:22px;
            }
            .p-data2 .el-date-editor.is-active>.el-date-editor__editor, .el-date-editor:hover>.el-date-editor__editor, .el-date-editor__editor:focus{
                border-color:#f95759;
                background:#fff8f8;
            }
            .el-time-spinner__item.active:not(.disabled){
                background-color:#f95759;
            }
            .el-time-panel__btn.confirm{
                background:#f95759;
                color:#fff;
                font-weight:200
            }
            .el-time-panel__btn{
                padding:0 15px;
                border:2px solid #f95759;
                border-radius: 14px !important;
                line-height: 22px;
            }
            .el-time-panel__btn.cancel{
                color:#f95759;
            }
            .el-time-panel__content::after, .el-time-panel__content::before{
                background-color:#f95759;
            }
            .el-time-spinner__item:hover:not(.disabled):not(.active){
                background:#FFC4C4;
            }
            .el-time-panel__footer,.el-picker-panel__footer{
                text-align: center;
            }
            .el-time-panel{
                width:160px;
            /*    left:-34px;*/
            }
            .el-date-picker.has-time{
                min-width:250px;
            }
            .has-time .el-time-panel__btn{
                padding:0 5px;
                line-height: 16px;
            }
            .el-date-picker__editor{
                border:1px solid #dcdcdc;
            }
            .el-date-picker__editor:focus,.el-date-picker__editor:hover{
                border:1px solid #f95759;
            }
            .el-picker-panel__btn,.el-picker-panel__link-btn{
                border:2px solid #f95759;
                border-radius: 14px !important;
                background:#f95759;
                color:#fff;
            }
            .el-picker-panel__link-btn{
                padding:4px 20px;
                background:#fff;
                color:#f95759;
                margin-right:10px;
            }
            @media screen and (max-width:991px){
                .data-default{
                    margin-bottom:20px;
                }
            }
                </textarea>
                
            </input-model>
        </div>
    </div>
</div>