.p-float{
    float:none;
    margin:0 auto;
}

.p-float table tbody{
    border-bottom: 1px solid #E7ECF1;
}
.p-float .start{
    background:url("../../lib/global/img/zhibo_03.png") no-repeat left;
    padding-left: 20px;
}
.p-float .start1{
    background:url("../../lib/global/img/zhibo_06.png") no-repeat left;
    padding-left: 20px;
}
.p-float .start2{
    background:url("../../lib/global/img/zhibo_08.png") no-repeat left;
    padding-left: 20px;
}