<div>
	<summary1 :title11="title11" :smtitle="smtitle" :cssinclude="cssinclude" :jsinclude="jsinclude"></summary1>
	<div class="tab-content">
        <div class="tab-pane active" id="tab_0">
        <div class="row p-top">
            <div class="col-md-8 p-float">
                <table class="table">
                    <thead>
                        <tr>
                            <th>直播名称</th>
                            <th>直播状态</th>
                            <th>时间</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
                             <td>国庆举国同庆</td>
                             <td class="start">直播中</td>
                             <td>2016-10-1 23:12</td>
                         </tr>
                         <tr>
                             <td>2016媒体融合与发展论坛</td>
                             <td class="start1">已通过</td>
                             <td>2016-10-1 23:12</td>
                         </tr>
                         <tr>
                             <td>国庆举国同庆</td>
                             <td class="start2">未通过</td>
                             <td>2016-10-1 23:12</td>
                         </tr>
                    </tbody>
                </table>

            </div>
        </div>    
<!--
            <input-model labhtml="HTML" labcss="CSS" colorstyle="red">
                <div class="portlet-body form" slot="showstyle">
                    <read-only class="readOnly"></read-only>     
                </div>
                <textarea class="activeText" readonly slot="innhtml">{{readOnly}}</textarea>
                <textarea slot="innercss">
            a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul{
                border-radius: 0!important;
            }
            .control-label{
                margin-top: 1px;
                font-weight: 400;
            }
            .form-control{
                outline:0!important;
            }
            .btn, .form-control{
                box-shadow:none!important;
            }
                </textarea>
                <textarea slot="innerusage">
                    显示使用方法
                </textarea> 
            </input-model>
-->
            
        </div>
    </div>
</div>